<div style="margin-right: 50px;">
    <div style="height: 50px;margin-left: 15px;" class="row">
        <div class="col-lg-6" style="height: 50px;padding-left: 0px">
            <button class="btn_back col-lg-4"><i class="fa fa-level-up" aria-hidden="true"></i>&nbsp;返回</button>
            <div class="col-lg-8" style="height: 50px; line-height: 50px;font-size: 14px;">
                <span>采购订单：00011604180002</span>
            </div>
        </div>
        <div class="col-lg-6" style="height: 50px;">
            <div style="float: right;height: 50px;width:379px ;margin-right: 15px">
                <button class="btn_plus "><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;新增</button>
                <button class="btn_square "><i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;编辑</button>
                <button class="btn_file "><i class="fa fa-file-o" aria-hidden="true"></i>&nbsp;生成SAN</button>
                <button class="btn_eye "><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;关闭订单<i
                        class="fa fa-caret-down" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
    <div style="margin-left: 15px;margin-right: 15px;background: #E5E5E5;height: 1px"></div>
    <div>
        <div class="row" style="margin-top: 15px;padding-left: 0px">
            <div class="form-group col-lg-4">
                <div style="padding-left: 15px;">
                    <i class="fa fa-circle" style="font-size:12px;margin-right: 10px; color:#CCCCCC"
                       aria-hidden="true"></i>
                    <span style="font-size: 16px">基本信息</span>
                </div>

            </div>
        </div>
        <div class="row" style="font-size: 12px;margin-bottom: 0">
            <div class="form-group col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group col-lg-4 col-xl-4 col-md-4 col-sm-6 col-xs-12 ">
                    <div style="padding-left: 15px;">
                        <label style="font-size:14px;margin-right: 10px; text-align: right;width: 60px">货主</label>
                        <span style="color:#999999;font-size:14px">联华超市</span>
                    </div>

                </div>
                <div class="form-group col-lg-4 col-xl-4 col-md-4 col-sm-6 col-xs-12 ">
                    <div style="padding-left: 15px;">
                        <label style="font-size:14px;margin-right: 10px; text-align: right;width: 60px">来源单号</label>
                        <span style="color:#999999;font-size:14px">00011604180002</span>
                    </div>

                </div>
                <div class="form-group col-lg-4 col-xl-4 col-md-4 col-sm-6 col-xs-12">
                    <div style="padding-left: 15px;">
                        <label style="font-size:14px;margin-right: 10px;text-align: right ;width: 60px">仓库</label>
                        <span style="color:#999999;font-size:14px">仓库001</span>
                    </div>

                </div>
                <div class="form-group col-lg-4 col-xl-4 col-md-4 col-sm-6 col-xs-12">
                    <div style="padding-left: 15px;">
                        <label style="font-size:14px;margin-right: 10px;text-align: right;width: 60px ">送货时间</label>
                        <span style="color:#999999;font-size:14px">2016-11-10</span>
                    </div>

                </div>
                <div class="form-group col-lg-4 col-xl-4 col-md-4 col-sm-6 col-xs-12">
                    <div style="padding-left: 15px;">
                        <label style="font-size:14px;margin-right: 10px;text-align: right;width: 60px ">失效时间</label>
                        <span style="color:#999999;font-size:14px"> 2016-11-20</span>
                    </div>

                </div>
                <div class="form-group col-lg-4 col-xl-4 col-md-4 col-sm-6 col-xs-12">
                    <div style="padding-left: 15px;">
                        <label style="font-size:14px;margin-right: 10px;text-align: right ;width: 60px">订单状态</label>
                        <span style="color:#999999;font-size:14px">新建订单</span>
                    </div>
                </div>
                <div class="form-group col-lg-4 col-xl-4 col-md-4 col-sm-6 col-xs-12">
                    <div style="padding-left: 15px;">
                        <label style="font-size:14px;margin-right: 10px; text-align: right;width: 60px">自定义1</label>
                        <span style="color:#999999;font-size:14px">自定义信息</span>
                    </div>
                </div>
                <div class="form-group col-lg-4 col-xl-4 col-md-4 col-sm-6 col-xs-12">
                    <div style="padding-left: 15px; ">
                        <label style="font-size:14px;margin-right: 10px;text-align: right;width: 60px">备注</label>
                        <span style="color:#999999;font-size:14px">自定义信息</span>
                    </div>
                </div>
                <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group col-lg-3 col-xl-3 col-md-3 col-sm-6 col-xs-12 " style="margin-bottom: 0;padding-right: 0">
                        <div style="height: 50px;border: 1px solid #E4E4E4">
                            <div class="col-lg-4 col-xl-4 col-md-4 col-sm-4 col-xs-4 divGrid">
                                总金额
                            </div>
                            <div class="col-lg-8 divGrid-right">
                                36523.55
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-lg-3 col-xl-3 col-md-3 col-sm-6 col-xs-12" style="margin-bottom: 0;padding-right: 0">
                        <div style="height: 50px;border: 1px solid #E4E4E4">
                            <div class="col-lg-4 col-xl-4 col-md-4 col-sm-4 col-xs-4 divGrid">
                                总体积
                            </div>
                            <div class="col-lg-8 divGrid-right">
                                1155.36
                            </div>
                        </div>

                    </div>
                    <div class="form-group col-lg-3 col-xl-3 col-md-3 col-sm-6 col-xs-12" style="margin-bottom: 0;padding-right: 0">
                        <div style="height: 50px;border: 1px solid #E4E4E4">
                            <div class="col-lg-4  col-xl-4 col-md-4 col-sm-4 col-xs-4 divGrid">
                                总毛重
                            </div>
                            <div class="col-lg-8 divGrid-right">
                                56622.66
                            </div>
                        </div>

                    </div>
                    <div class="form-group col-lg-3 col-xl-3 col-md-3 col-sm-6 col-xs-12" style="margin-bottom: 0;padding-right: 0">
                        <div style="height: 50px;border: 1px solid #E4E4E4">
                            <div class="col-lg-4  col-xl-4 col-md-3 col-sm-4 col-xs-4 divGrid">
                                总净重
                            </div>
                            <div class="col-lg-8 divGrid-right">
                                78256.33
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div>
        <button class="btn_wrench" style="width: 25px;height: 25px;float: right;margin-right: 15px;text-align: center">
            <i class="fa fa-wrench" aria-hidden="true"></i></button>
    </div>
    <ag-grid-ng2 #agGrid style="width:100%;height:500px;padding:10px" class="ag-fresh sly" [gridOptions]="gridOptions"
                 [rowData]="rowData"
                 rowSelection="multiple"
                 enableSorting
                 enableFilter
                 suppressRowClickSelection
                 [localeText]="localeText"
                 rowHeight="40"
                 headerHeight="50">
    </ag-grid-ng2>
</div>

