<div>
    <div class="row edit-order-header">
        <div class="pull-left inline">
            <button routerLink="/#" class="button_times inline"><i class="fa fa-reply fa-rotate-90 reply-icon" aria-hidden="true"></i>返回</button>
            <div class="edit-order-header-title inline" style="font-size:15px">新增采购订单
            </div>
        </div>
        <div class="pull-right inline">
            <button class="btn-save-page" style="font-size:15px;margin-top: 8px;" (click)="saveNewPoOrder()"><i class="fa fa-check" aria-hidden="true"></i>保存</button>
        </div>
    </div>
    <div class="row edit-order-content">
        <div class="row">
            <form class="form-horizontal form-horizontal-update col-xs-12 col-sm-6 col-md-6 col-xl-4 col-lg-4 form-height" role="form">
                <div class="form-group">
                    <label class="col-xs-4 col-sm-4 col-md-4 col-xl-4 col-lg-4 control-label form-label"><span class="red-validate">*</span>采购订单</label>
                    <div class="col-xs-8 col-sm-8 col-md-8 col-xl-8 col-lg-8">
                        <input readonly type="text" class="form-control" value="0001112656544" style="background-color: #F8F8F8;padding: 0;border: none;border-radius: 0;margin: 2px;color:#00BBB3;">
                    </div>
                </div>
            </form>
            <form class="form-horizontal form-horizontal-update col-xs-12 col-sm-6 col-md-6 col-xl-4 col-lg-4 form-height" role="form">
                <div class="form-group">
                    <label class="col-xs-4 col-sm-4 col-md-4 col-xl-4 col-lg-4 control-label form-label"><span class="red-validate">*</span>来源单号</label>
                    <div class="col-xs-8 col-sm-8 col-md-8 col-xl-8 col-lg-8">
                        <input type="text" class="form-control" placeholder="" style="background-color: #F8F8F8;padding: 0;border: none;border-radius: 0;margin: 2px;border-bottom: 1px solid #cccccc;">
                    </div>
                </div>
            </form>
            <form class="form-horizontal form-horizontal-update col-xs-12 col-sm-6 col-md-6 col-xl-4 col-lg-4 form-height" role="form">
                <div class="form-group">
                    <label class="col-xs-4 col-sm-4 col-md-4 col-xl-4 col-lg-4 control-label form-label"><span class="red-validate">*</span>采购订单</label>
                    <div class="col-xs-8 col-sm-8 col-md-8 col-xl-8 col-lg-8">
                        <input type="text" class="form-control" placeholder="新建订单" style="background-color: #F8F8F8;padding: 0;border: none;border-radius: 0;margin: 2px;">
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <form class="form-horizontal form-horizontal-update col-xs-12 col-sm-6 col-md-6 col-xl-4 col-lg-4 form-height" role="form">
                <div class="form-group">
                    <label class="col-xs-4 col-sm-4 col-md-4 col-xl-4 col-lg-4 control-label form-label"><span class="red-validate">*</span>订单类型</label>
                    <div class="col-xs-8 col-sm-8 col-md-8 col-xl-8 col-lg-8" style="position: relative">
                        <input type="text" class="form-control" placeholder="" style="background-color: #F8F8F8;padding: 0;border: none;border-radius: 0;margin: 2px;border-bottom: 1px solid #cccccc;">
                        <div class="right-icon"><i class="fa fa-sort-down" aria-hidden="true"></i></div>
                    </div>
                </div>
            </form>
            <form class="form-horizontal form-horizontal-update col-xs-12 col-sm-6 col-md-6 col-xl-4 col-lg-4 form-height" role="form">
                <div class="form-group">
                    <label class="col-xs-4 col-sm-4 col-md-4 col-xl-4 col-lg-4 control-label form-label"><span class="red-validate">*</span>库区</label>
                    <div class="col-xs-8 col-sm-8 col-md-8 col-xl-8 col-lg-8" style="position: relative">
                        <input type="text" class="form-control" placeholder="" style="background-color: #F8F8F8;padding: 0;border: none;border-radius: 0;margin: 2px;border-bottom: 1px solid #cccccc;">
                        <div class="right-icon search-dialog-btn" (click)="openStockAreaSearch()"><i class="fa fa-search" aria-hidden="true"></i></div>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <form class="form-horizontal form-horizontal-update col-xs-12 col-sm-6 col-md-6 col-xl-4 col-lg-4 form-height" role="form">
                <div class="form-group">
                    <label class="col-xs-4 col-sm-4 col-md-4 col-xl-4 col-lg-4 control-label form-label"><span class="red-validate">*</span>供应商</label>
                    <div class="col-xs-8 col-sm-8 col-md-8 col-xl-8 col-lg-8" style="position: relative">
                        <input type="text" class="form-control" placeholder="" style="background-color: #F8F8F8;padding: 0;border: none;border-radius: 0;margin: 2px;border-bottom: 1px solid #cccccc;">
                        <div class="right-icon"><i class="fa fa-sort-down" aria-hidden="true"></i></div>
                    </div>
                </div>
            </form>
            <form class="form-horizontal form-horizontal-update col-xs-12 col-sm-6 col-md-6 col-xl-4 col-lg-4 form-height" role="form">
                <div class="form-group">
                    <label class="col-xs-4 col-sm-4 col-md-4 col-xl-4 col-lg-4 control-label form-label"><span class="red-validate">*</span>供应商名称</label>
                    <div class="col-xs-8 col-sm-8 col-md-8 col-xl-8 col-lg-8" style="position: relative">
                        <input type="text" class="form-control" placeholder="" style="background-color: #F8F8F8;padding: 0;border: none;border-radius: 0;margin: 2px;border-bottom: 1px solid #cccccc;">
                        <div class="right-icon search-dialog-btn" (click)="openVendorSearch()"><i class="fa fa-search" aria-hidden="true"></i></div>
                    </div>
                </div>
            </form>

        </div>
        <div class="row">
            <form class="form-horizontal form-horizontal-update col-xs-12 col-sm-6 col-md-6 col-xl-4 col-lg-4 form-height" role="form">
                <div class="form-group">
                    <label class="col-xs-4 col-sm-4 col-md-4 col-xl-4 col-lg-4 control-label form-label"><span class="red-validate">*</span>送货时间</label>
                    <div class="col-xs-8 col-sm-8 col-md-8 col-xl-8 col-lg-8" style="position: relative">
                        <input type="text" class="form-control" placeholder="" style="background-color: #F8F8F8;padding: 0;border: none;border-radius: 0;margin: 2px;border-bottom: 1px solid #cccccc;">
                        <div class="right-icon"><i class="fa fa-calendar-minus-o" aria-hidden="true"></i></div>
                    </div>
                </div>
            </form>
            <form class="form-horizontal form-horizontal-update col-xs-12 col-sm-6 col-md-6 col-xl-4 col-lg-4 form-height" role="form">
                <div class="form-group">
                    <label class="col-xs-4 col-sm-4 col-md-4 col-xl-4 col-lg-4 control-label form-label"><span class="red-validate">*</span>失效时间</label>
                    <div class="col-xs-8 col-sm-8 col-md-8 col-xl-8 col-lg-8" style="position: relative">
                        <input type="text" class="form-control" placeholder="" style="background-color: #F8F8F8;padding: 0;border: none;border-radius: 0;margin: 2px;border-bottom: 1px solid #cccccc;">
                        <div class="right-icon"><i class="fa fa-calendar-minus-o" aria-hidden="true"></i></div>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <form class="form-horizontal form-horizontal-update col-xs-12 col-sm-6 col-md-6 col-xl-4 col-lg-4 form-height" role="form">
                <div class="form-group">
                    <label class="col-xs-4 col-sm-4 col-md-4 col-xl-4 col-lg-4 control-label form-label"><span class="red-validate">*</span>自定义1</label>
                    <div class="col-xs-8 col-sm-8 col-md-8 col-xl-8 col-lg-8">
                        <input type="text" class="form-control"  style="background-color: #F8F8F8;padding: 0;border: none;border-radius: 0;margin: 2px;border-bottom: 1px solid #cccccc;">
                    </div>
                </div>
            </form>
            <form class="form-horizontal form-horizontal-update col-xs-12 col-sm-6 col-md-6 col-xl-4 col-lg-4 form-height" role="form">
                <div class="form-group">
                    <label class="col-xs-4 col-sm-4 col-md-4 col-xl-4 col-lg-4 control-label form-label"><span class="red-validate">*</span>自定义2</label>
                    <div class="col-xs-8 col-sm-8 col-md-8 col-xl-8 col-lg-8">
                        <input type="text" class="form-control"  style="background-color: #F8F8F8;padding: 0;border: none;border-radius: 0;margin: 2px;border-bottom: 1px solid #cccccc;">
                    </div>
                </div>
            </form>
            <form class="form-horizontal form-horizontal-update col-xs-12 col-sm-6 col-md-6 col-xl-4 col-lg-4 form-height" role="form">
                <div class="form-group">
                    <label class="col-xs-4 col-sm-4 col-md-4 col-xl-4 col-lg-4 control-label form-label"><span class="red-validate">*</span>自定义3</label>
                    <div class="col-xs-8 col-sm-8 col-md-8 col-xl-8 col-lg-8">
                        <input type="text" class="form-control"  style="background-color: #F8F8F8;padding: 0;border: none;border-radius: 0;margin: 2px;border-bottom: 1px solid #cccccc;">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row edit-order-content">
        <form class="form-horizontal col-xs-12 col-sm-12 col-md-12 col-xl-12 col-lg-12" role="form" style="margin-bottom: 0 !important;">
            <div class="form-group" class="mt-992-margin mt-1200-margin">
                <label class="col-xs-4 col-sm-2 col-md-2 col-xl-1 col-lg-1 control-label"><span class="red-validate">*</span>备注</label>
                <div class="col-xs-8 col-sm-10 col-md-10 col-xl-11 col-lg-11">
                    <input type="text" class="form-control"  style="background-color: #F8F8F8;padding: 0;border: none;border-radius: 0;margin: 2px;border-bottom: 1px solid #cccccc;">
                </div>
            </div>
        </form>
        <form class="form-horizontal form-horizontal-update col-xs-6 col-sm-6 col-md-3 col-xl-3 col-lg-3 form-height" role="form">
            <div class="form-group">
                <label class="col-xs-5 col-sm-5 col-md-5 col-xl-5 col-lg-5 control-label" style="padding: 0;text-align: right">总金额</label>
                <div class="col-xs-7 col-sm-7 col-md-7 col-xl-7 col-lg-7">
                    <input readonly type="text" class="form-control" placeholder="￥0.00" style="background-color: #F8F8F8;padding: 0;border: none;border-radius: 0;margin: 2px;">
                </div>
            </div>
        </form>
        <form class="form-horizontal form-horizontal-update col-xs-6 col-sm-6 col-md-3 col-xl-3 col-lg-3 form-height" role="form">
            <div class="form-group">
                <label class="col-xs-5 col-sm-5 col-md-5 col-xl-5 col-lg-5 control-label" style="padding: 0;text-align: right">总体积</label>
                <div class="col-xs-7 col-sm-7 col-md-7 col-xl-7 col-lg-7">
                    <input readonly type="text" class="form-control" placeholder="￥0.00" style="background-color: #F8F8F8;padding: 0;border: none;border-radius: 0;margin: 2px;">
                </div>
            </div>
        </form>
        <form class="form-horizontal form-horizontal-update col-xs-6 col-sm-6 col-md-3 col-xl-3 col-lg-3 form-height" role="form">
            <div class="form-group">
                <label class="col-xs-5 col-sm-5 col-md-5 col-xl-5 col-lg-5 control-label" style="padding: 0;text-align: right">总毛重</label>
                <div class="col-xs-7 col-sm-7 col-md-7 col-xl-7 col-lg-7">
                    <input readonly type="text" class="form-control" placeholder="￥0.00" style="background-color: #F8F8F8;padding: 0;border: none;border-radius: 0;margin: 2px;">
                </div>
            </div>
        </form>
        <form class="form-horizontal form-horizontal-update col-xs-6 col-sm-6 col-md-3 col-xl-3 col-lg-3 form-height" role="form">
            <div class="form-group">
                <label class="col-xs-5 col-sm-5 col-md-5 col-xl-5 col-lg-5 control-label" style="padding: 0;text-align: right">总净重</label>
                <div class="col-xs-7 col-sm-7 col-md-7 col-xl-7 col-lg-7">
                    <input readonly type="text" class="form-control" placeholder="￥0.00" style="background-color: #F8F8F8;padding: 0;border: none;border-radius: 0;margin: 2px;">
                </div>
            </div>
        </form>
    </div>
    <div class="row edit-order-agGrid-setting">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-8"></div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-4">
            <button routerLink="/#" class="button_setting"><i class="fa fa-wrench" aria-hidden="true"></i></button>
        </div>

    </div>
    <!--<div class="row edit-order-content" style="background-color: #1de9b6">-->
    <!--<div style="float: right">111</div>-->
    <!--<button routerLink="/#" class="button_setting"><i class="fa fa-wrench" aria-hidden="true"></i></button>-->
    <!--</div>-->
    <div *ngIf="showStockArea" class="preArrivalNotice-agGrid-column-order">
        <form class="form-horizontal form-horizontal-update">
            <div class="preArrivalNotice-agGrid-column-order-header">
                <div class="preArrivalNotice-left-title">查询库区</div>
                <button (click)="hideStockAreaSearch()" class="preArrivalNotice-right-close close-dialog-btn"><i class="fa fa-times" aria-hidden="true"></i></button>
            </div>
            <div class="">
                <div class="container-fluid dialog-search-bar">
                    <div class="col-sm-2 dialog-label">仓库</div>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="请输入一个仓库名">
                    </div>
                </div>
            </div>
            <div class="row dialog-search-btn">
                <button class="btn btn-save-page pull-right">搜索</button>
            </div>
            <div class="container-fulid table-part">
                <table class="table table-condensed">
                    <thead class="dialog-table">
                        <tr>
                            <td>序号</td>
                            <td>代码</td>
                            <td>采购单号</td>
                            <td>供应商</td>
                            <td>预期数量</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>001</td>
                            <td>JH001604190014</td>
                            <td>雀巢咖啡</td>
                            <td>100</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>001</td>
                            <td>JH001604190014</td>
                            <td>雀巢咖啡</td>
                            <td>100</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>001</td>
                            <td>JH001604190014</td>
                            <td>雀巢咖啡</td>
                            <td>100</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>001</td>
                            <td>JH001604190014</td>
                            <td>雀巢咖啡</td>
                            <td>100</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>001</td>
                            <td>JH001604190014</td>
                            <td>雀巢咖啡</td>
                            <td>100</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="container-fulid">
                <div class="pull-right">
                    <div class="inline"><button class="btn btn-save-page">确定</button></div>
                    <div class="inline"><button class="btn btn-cancel">取消</button></div>
                </div>
            </div>
        </form>

    </div>
    <div *ngIf="showVendor" class="preArrivalNotice-agGrid-column-order">
        <form class="form-horizontal form-horizontal-update">
            <div class="preArrivalNotice-agGrid-column-order-header">
                <div class="preArrivalNotice-left-title">查询库区</div>
                <button (click)="hideVendorSearch()" class="preArrivalNotice-right-close close-dialog-btn"><i class="fa fa-times" aria-hidden="true"></i></button>
            </div>
            <div class="">
                <div class="container-fluid dialog-search-bar">
                    <div class="col-lg-4 col-sm-12">
                        <div class="col-sm-2 dialog-label">供应商</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="请输入一个供应商">
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-12">
                        <div class="col-sm-2 dialog-label">代码</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="请输入一个代码">
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-12">
                        <div class="col-sm-2 dialog-label">采购订单</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="请输入一个采购订单">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row dialog-search-btn">
                <button class="btn btn-save-page pull-right">搜索</button>
            </div>
            <div class="container-fulid table-part">
                <table class="table table-condensed">
                    <thead class="dialog-table">
                    <tr>
                        <td>序号</td>
                        <td>代码</td>
                        <td>采购单号</td>
                        <td>供应商</td>
                        <td>预期数量</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>001</td>
                        <td>JH001604190014</td>
                        <td>雀巢咖啡</td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>001</td>
                        <td>JH001604190014</td>
                        <td>雀巢咖啡</td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>001</td>
                        <td>JH001604190014</td>
                        <td>雀巢咖啡</td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>001</td>
                        <td>JH001604190014</td>
                        <td>雀巢咖啡</td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>001</td>
                        <td>JH001604190014</td>
                        <td>雀巢咖啡</td>
                        <td>100</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="container-fulid">
                <div class="pull-right">
                    <div class="inline"><button class="btn btn-save-page">确定</button></div>
                    <div class="inline"><button class="btn btn-cancel">取消</button></div>
                </div>
            </div>
        </form>
    </div>

    <button class="btn btn-default" (click)="addOneRowToTable()">在该订单下新增一个商品</button>
    <ag-grid-ng2 #agGrid style="width:100%;height:380px;padding:10px;" class="ag-fresh"
                 [gridOptions]="gridOptions"
                 [rowData]="rowData"
                 rowSelection="multiple"
                 enableSorting
                 enableFilter
                 suppressRowClickSelection
                 (selectionChanged)="onSelectionChanged($event)"
                 (cellValueChanged)="onCellValueChanged($event)"
                 [localeText]="localeText"
                 rowHeight="30"
                 headerHeight="30">
    </ag-grid-ng2>

    <div class="col-xs-12 col-md-12 col-lg-12" style="background-color: #F5F5F5;padding: 0;color: #FFFFFF;z-index: 10000;height:60px;">
        <div class="row">
            <form class="form-horizontal form-horizontal-update col-xs-12 col-sm-12 col-md-12 col-xl-12 col-lg-12 form-height" role="form">
                <div class="form-group">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-xl-4 col-lg-4" style="height:30px">
                        <div style="display: inline-block"><button class="btn btn-default"><i class="fa fa-angle-left"></i></button></div>
                        <div style="display: inline-block;padding-top: 6px;"><md-slider step="10" style="width: 100%"></md-slider></div>
                        <div style="display: inline-block"><button class="btn btn-default"><i class="fa fa-angle-right"></i></button></div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-xl-8 col-lg-8" style="height:30px;padding:0">
                        <div class="preArrivalNotice-pages screen-mt-600">
                            <div class="preArrivalNotice-pages-left">
                                <ul>
                                    <li><i class="fa fa-angle-double-left page-btn" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-angle-left page-btn" aria-hidden="true"></i></li>
                                    <li class="page-btn">1</li>
                                    <li class="page-btn">2</li>
                                    <li class="page-btn">3</li>
                                    <li class="page-btn">4</li>
                                    <li class="page-btn">5</li>
                                    <li><i class="fa fa-angle-right page-btn" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-angle-double-right page-btn" aria-hidden="true"></i></li>
                                    <li style="width:90px">
                                        <select>
                                            <option value="10">10</option>
                                            <option value="20">20</option>
                                            <option value="30">30</option>
                                        </select>
                                        <span>条/页</span>
                                    </li>
                                </ul>

                            </div>
                            <div class="preArrivalNotice-pages-right">
                                <div class="preArrivalNotice-pages-right-content">
                                    <span>已经加载</span>
                                    <span>100/260</span>
                                </div>
                            </div>
                        </div>
                        <div class="screen-lt-600" style="width:100%;height:auto;background:red;">
                            <div class="preArrivalNotice-pages-left" style="width:100%;min-width:449px">
                                <ul>
                                    <li><i class="fa fa-angle-double-left" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-angle-left" aria-hidden="true"></i></li>
                                    <li>1</li>
                                    <li>2</li>
                                    <li>3</li>
                                    <li>4</li>
                                    <li>5</li>
                                    <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-angle-double-right" aria-hidden="true"></i></li>
                                </ul>
                            </div>
                            <div style="float:left">
                                <select style="border:none;color:#17b89b">
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                </select>
                                <span>条/页</span>
                            </div>
                            <div class="preArrivalNotice-pages-right-content" style="float:right;color:#17b89b">
                                <span>已经加载</span>
                                <span>100/260</span>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

