<nav style="width: 100%;" class="page-header navbar navbar-fixed-top showColor">
    <div class="  head-style">
        <div class=" logoSize inline" style="float:left;">
            <a class="logoPosition">
                <i class="fa fa-envira"></i>
            </a>
        </div>
       
                <div class="inline" style="height: 50px;">
                    <div style="float:left;">
                        <div class="toggle-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="font-main">控制台</span>
                        </div>
                      
                    </div>
                    <div style="float:left;">
                        <div class="toggle-btn greenBg" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="inline"><span class="font-main">产品</span>&nbsp;&nbsp;<span class="fa fa-angle-down"></span></div>
                        </div>
                        <ul class="dropdown-menu noborder production">
                            <li class="productionBox greenBg"><a href="#"><i class="fa fa-sellsy" aria-hidden="true"></i>产品1</a></li>
                            <li class="productionBox greenBg" ><a href="#"><i class="fa fa-sellsy" aria-hidden="true"></i>产品2</a></li>
                            <li class="productionBox greenBg"><a href="#"><i class="fa fa-sellsy" aria-hidden="true"></i>产品1</a></li>
                            <li class="productionBox greenBg"><a href="#"><i class="fa fa-sellsy" aria-hidden="true"></i>产品2</a></li>
                            <li class="productionBox greenBg"><a href="#"><i class="fa fa-sellsy" aria-hidden="true"></i>产品1</a></li>
                            <li class="productionBox greenBg"><a href="#"><i class="fa fa-sellsy" aria-hidden="true"></i>产品2</a></li>
                            <li class="productionBox greenBg"><a href="#"><i class="fa fa-sellsy" aria-hidden="true"></i>产品1</a></li>
                            <li class="productionBox greenBg"><a href="#"><i class="fa fa-sellsy" aria-hidden="true"></i>产品2</a></li>
                        </ul>
                    </div>


                </div>
                <div style="float:right;" class="topMenu">
                    <ul class="">
                        <li class="full-screen inline" style="list-style: none; float: left">
                            <div class="scroll-btn-hover" style="margin-top: 14px;margin-right: 15px;" ><span class="fa fa-expand toolBarIcon-size"></span></div>
                        </li>
                       
                        <li class="inline select-list greenBg">
                            <div class="positionRetive">
                                <div class="help-btn navIcon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <div class="inline"><span class="fa fa-bell "></span></div>
                                    <div class="inline highlight-number-danger" style=" width: 20px;height: 20px!important;">6</div>
                                </div>
                                <ul class="dropdown-menu list-warning">
                                    <div class="list-warning-header">您有6条未读消息</div>
                                    <li>
                                        <div class="list-category fade in" role="alert">
                                            <div class="">
                                                <button type="button" class="close closeBtn-style" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                <div class="row">
                                                <div class="list-inline listIcon"><span class="icon -success fa fa-check headerIcon-size"></span></div>
                                                <div class="inline listIcon-size">
                                                <div class="row">
                                                    <div class="pull-left inline">系统通知</div>
                                                    <div class="pull-right inline">今天 10:00</div>
                                                </div>
                                                <div class="row">5月15号凌晨2:00进行系统...</div>
                                                </div>
                                                </div>
                                            </div>
                                        </div>

                                    
                                       
                                    </li>
                                  
                                      
                                  
                                    <div class="list-warning-footer"><a href="#" class="list-warning-footer">查看全部消息</a></div>
                                </ul>
                            </div>
                        </li>

                        <!--<li class="inline select-list">
                            <div class="btn-group">
                                <div type="button" class="help-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="height: 50px;padding-top: 14px;">
                                    <div class="inline"><span class="fa fa-cog toolBarIcon-size"></span></div>
                                    <span class="caret inline"></span>
                                </div>
                                <ul class="dropdown-menu">
                                    <li><a href="#">用户与用户组</a></li>
                                    <li><a href="#">角色权限</a></li>
                                    <li><a href="#">打印模板</a></li>
                                    <li><a href="#">报表设置</a></li>
                                    <li><a href="#">系统语言</a></li>
                                </ul>
                            </div>
                        </li>-->
                        <li class="inline select-list greenBg">
                           
                                <div  class="toggle-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <div class="inline"><span class="fa fa-indent toolBarIcon-size">&nbsp;&nbsp;<span class="font-main">001总大库</span></span></div>
                                    <span class="caret inline btnGroup-caret"></span>
                                </div>
                                <ul class="dropdown-menu list-wharehouse production">
                                    <li class="storehouseBox">仓库001<br/>hd零售物流仓库<br/>地址1</li>
                                    <li class="storehouseBox">仓库001<br/>hd零售物流仓库<br/>地址1</li>
                                    <li class="storehouseBox">仓库001<br/>hd零售物流仓库<br/>地址1</li>
                                    <li class="storehouseBox">仓库001<br/>hd零售物流仓库<br/>地址1</li>
                                    <li class="storehouseBox">仓库001<br/>hd零售物流仓库<br/>地址1</li>
                                    <li class="storehouseBox">仓库001<br/>hd零售物流仓库<br/>地址1</li>
                                    <li class="storehouseBox">仓库001<br/>hd零售物流仓库<br/>地址1</li>
                                    <li class="storehouseBox">仓库001<br/>hd零售物流仓库<br/>地址1</li>
                                    <li class="storehouseBox">仓库001<br/>hd零售物流仓库<br/>地址1</li>
                                </ul>
                           
                        </li>

                         <li class="inline select-list greenBg">
                            <div class="positionRetive">
                                <div class="help-btn textCenter navIcon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                                    <div class="inline"><span class="fa fa-question-circle"></span></div>
                                    <span class="caret inline"></span>
                                </div>
                                <ul class="dropdown-menu list-contact messageMargin">
                                    <li><a href="#">帮助中心</a></li>
                                    <li><a href="#">在线FAQ</a></li>
                                    <li><a href="#">WMS官网</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">我的服务</a></li>
                                    <li><a href="#">关于HEADING®  WMS</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li class="textCenter" id="telText">021-54325000<br/>
7*24小时客服热线</li>
                                </ul>
                            </div>
                        </li>
                        <li class="inline select-list greenBg">
                            <div class="positionRetive">
                                <div class="toggle-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <div class="inline"><span class="fa fa-user toolBarIcon-size"></span>&nbsp;&nbsp;<span class="font-main">admin管理员</span></div>
                                    <span class="caret inline btnGroup-caret"></span>
                                </div>
                                <ul class="dropdown-menu noborder list-contact">
                                    <li><a href="#">个人设置</a></li>
                                    <li><a href="#">修改登录密码</a></li>
                                    <li class="greenBg positionRetive width100"> <div class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="false">
                                    <span class="fa fa-angle-down"></span>
                           <span class="font-main">语言</span>&nbsp;&nbsp;
                        </div>
                        <ul class="dropdown-menu noborder language" style="display: inline">
                            <li class="greenBg"><a href="#">中文</a></li>
                            <li class="greenBg"><a href="#">英文</a></li>
                           
                        </ul>
                                    </li>
                                     <li class="clearfix"></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">退出</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="clearfix"></div>
        <div class="page-container">
        <div class="page-sidebar-wrapper">

        <div class="page-sidebar navbar-collapse collapse">
            <div *ngIf="!showMainMenu" class="left-side-nav" style="display: inline-block;position: fixed;height:100%;" >
                <button class="btn-nav showSideNav" (click)="showMainMenuFunc()"><i class="fa fa-align-left"></i></button>
                <br>
                <div class="switchSys" (click)=start.open() (click)="hideSecBtn()">
                    <span class="fa fa-book" style="font-size: 1.2em;text-align: center;padding-top:15px;"></span>
                </div>
                <div class="switchSys">
                    <span class="fa fa-sign-in" style="font-size: 1.2em;text-align: center;padding-top:15px;"></span>
                </div>
                <div class="switchSys">
                    <span class="fa fa-sign-out" style="font-size: 1.2em;text-align: center;padding-top:15px;"></span>
                </div>
            </div>

            <div *ngIf="showMainMenu" class="left-side-nav" style="width:130px;position: fixed;height:100%;" >
                <button style="width:100%" class="btn-nav showSideNav" (click)="showMainMenuFunc()"><i class="fa fa-align-right"></i></button>
                <br>
                <div class="switchSys" style="width:100%" (click)=start.open() (click)="hideSecBtn()">
                    <span class="fa fa-book" style="font-size: 1.2em;padding-top:15px;margin-right: 10px;"></span>WMS
                </div>
                <div class="switchSys" style="width:100%">
                    <span class="fa fa-sign-in" style="font-size: 1.2em;padding-top:15px;margin-right: 10px;"></span>TMS
                </div>
                <div class="switchSys" style="width:100%">
                    <span class="fa fa-sign-out" style="font-size: 1.2em;padding-top:15px;margin-right: 10px;"></span>DPOS
                </div>
            </div>

        </div>
    </div>
    <div class="headerBox">
        <div><button class="" *ngIf="showNavBtn" [ngClass]="{'second-nav-btn': showPrimaryaryNav, 'second-nav-btn-plus': showSecondaryNav}" (click)="start.open()" (click)="hideSecBtn()" ><i class="fa fa-bars"></i></button></div>
        <main class="right-part-page" style="background-color:#F8F8F8 " [ngClass]="{'nav-body-closed': showPrimaryaryNav, 'nav-body-open': showSecondaryNav}">
            <router-outlet></router-outlet>
        </main>
        <div [ngStyle]="styleExp" >
            <md-sidenav-layout  style="z-index: 1000;width:100%!important;position: fixed;height: 100%;" >

                <md-sidenav #start   mode="side" style="background-color: #F0F0F0 !important; height:100%; width:160px;overflow: hidden;color: #FFFFFF;color: #666666;">
                    <div class="sideTitle">
                        <span >WMS</span>
                    </div>
                    <button (click)="cmsHide = !cmsHide"  class="nav-main-btn" ><span><i class="fa fa-caret-down title-icon"></i>入库</span></button>
                    <br>
                    <div *ngIf="cmsHide" class="subMenu">
                        <button class="nav-router-btn" routerLink="addPOOrder">PO新增采购订单</button>
                        <br>
                        <button class="nav-router-btn" routerLink="editOrder" >编辑订单</button>
                        <br>
                        <button class="nav-router-btn" routerLink="detailsOrder" >采购订单详情</button>
                        <br>
                        <button class="nav-router-btn" routerLink="addOrder" >新增预到货</button>
                        <br>
                        <button class="nav-router-btn" routerLink="addASN">ASN新增采购订单</button>
                        <br>
                        <button class="nav-router-btn" routerLink="preArrivalNotice">预到货通知</button>
                        <br>
                        <button class="nav-router-btn" routerLink="detailsASN" >预到货通知详情</button>
                        <br>
                        <button class="nav-router-btn" routerLink="orderList" >订单列表</button>
                        <br>
                        <button class="nav-router-btn" routerLink="testOrder" >空路由跳转</button>
                        <br>
                    </div>
                    <button (click)="tmsHide = !tmsHide"  class="nav-main-btn" ><span><i class="fa fa-caret-down title-icon"></i>出库</span></button>
                    <br>
                    <div *ngIf="tmsHide" class="subMenu">
                        <button class="nav-router-btn" routerLink="">空路由跳转</button>
                        <br>
                        <button class="nav-router-btn" routerLink="" >空路由跳转</button>
                        <br>
                    </div>
                    <br>
                    <button (click)="start.close()" (click)="showSecBtn()" class="second-nav-btn-inside"><span><i class="fa fa-bars"></i></span></button>

                </md-sidenav>
                <main [ngClass]="{'nav-body-closed': showPrimaryaryNav, 'nav-body-open': showSecondaryNav}">
                    <router-outlet></router-outlet>
                </main>
            </md-sidenav-layout>
        </div>
    </div>
</div>



