<div>
    <div class="row edit-order-header">
        <div class="pull-left inline">
            <button routerLink="/#" class="button_times inline"><i class="fa fa-reply fa-rotate-90 reply-icon" aria-hidden="true"></i>返回</button>
            <div class="edit-order-header-title inline" style="font-size:15px">新增ASN
            </div>
        </div>
        <div class="pull-right inline">
            <button class="btn-save-page" style="font-size:15px;margin-top: 8px;"><i class="fa fa-check" aria-hidden="true"></i>保存</button>
        </div>

    </div>
    <div class="row edit-order-content">
        <form class="form-horizontal form-horizontal-update col-xs-12 col-sm-6 col-md-6 col-xl-4 col-lg-4 form-height" role="form">
            <div class="form-group">
                <label class="col-xs-4 col-sm-4 col-md-4 col-xl-4 col-lg-4 control-label" style="padding: 0"><span class="red-validate">*</span>预到货通知</label>
                <div class="col-xs-8 col-sm-8 col-md-8 col-xl-8 col-lg-8">
                    <input readonly type="text" class="form-control" value="00013344244545445" style="background-color: #F8F8F8;padding: 0;border: none;border-radius: 0;margin: 2px;color:#00BBB3;">
                </div>
            </div>
        </form>
        <form class="form-horizontal form-horizontal-update col-xs-12 col-sm-6 col-md-6 col-xl-4 col-lg-4 form-height" role="form">
            <div class="form-group">
                <label class="col-xs-4 col-sm-4 col-md-4 col-xl-4 col-lg-4 control-label" style="padding: 0"><span class="red-validate">*</span>来源单号</label>
                <div class="col-xs-8 col-sm-8 col-md-8 col-xl-8 col-lg-8">
                    <input type="text" class="form-control" placeholder="" style="background-color: #F8F8F8;padding: 0;border: none;border-radius: 0;margin: 2px;border-bottom: 1px solid #cccccc;">
                </div>
            </div>
        </form>
        <form class="form-horizontal form-horizontal-update col-xs-12 col-sm-6 col-md-6 col-xl-4 col-lg-4 form-height" role="form">
            <div class="form-group">
                <label class="col-xs-4 col-sm-4 col-md-4 col-xl-4 col-lg-4 control-label" style="padding: 0"><span class="red-validate">*</span>采购订单</label>
                <div class="col-xs-8 col-sm-8 col-md-8 col-xl-8 col-lg-8">
                    <input type="text" class="form-control" placeholder="系统自动生成" style="background-color: #F8F8F8;padding: 0;border: none;border-radius: 0;margin: 2px;">
                </div>
            </div>
        </form>



        <form class="form-horizontal form-horizontal-update col-xs-12 col-sm-6 col-md-6 col-xl-4 col-lg-4 form-height" role="form">
            <div class="form-group">
                <label class="col-xs-4 col-sm-4 col-md-4 col-xl-4 col-lg-4 control-label" style="padding: 0"><span class="red-validate">*</span>ASN类型</label>
                <div class="col-xs-8 col-sm-8 col-md-8 col-xl-8 col-lg-8" style="position: relative">
                    <input type="text" class="form-control" placeholder="" style="background-color: #F8F8F8;padding: 0;border: none;border-radius: 0;margin: 2px;border-bottom: 1px solid #cccccc;">
                    <div class="right-icon"><i class="fa fa-sort-down" aria-hidden="true"></i></div>
                </div>
            </div>
        </form>
        <form class="form-horizontal form-horizontal-update col-xs-12 col-sm-6 col-md-6 col-xl-4 col-lg-4 form-height" role="form">
            <div class="form-group">
                <label class="col-xs-4 col-sm-4 col-md-4 col-xl-4 col-lg-4 control-label" style="padding: 0"><span class="red-validate">*</span>货主</label>
                <div class="col-xs-8 col-sm-8 col-md-8 col-xl-8 col-lg-8" style="position: relative">
                    <input type="text" class="form-control" placeholder="" style="background-color: #F8F8F8;padding: 0;border: none;border-radius: 0;margin: 2px;border-bottom: 1px solid #cccccc;">
                    <div class="right-icon"><i class="fa fa-search" aria-hidden="true"></i></div>
                </div>
            </div>
        </form>
        <form class="form-horizontal form-horizontal-update col-xs-12 col-sm-6 col-md-6 col-xl-4 col-lg-4 form-height" role="form">
            <div class="form-group">
                <label class="col-xs-4 col-sm-4 col-md-4 col-xl-4 col-lg-4 control-label" style="padding: 0"><span class="red-validate">*</span>供应商</label>
                <div class="col-xs-8 col-sm-8 col-md-8 col-xl-8 col-lg-8" style="position: relative">
                    <input type="text" class="form-control" placeholder="" style="background-color: #F8F8F8;padding: 0;border: none;border-radius: 0;margin: 2px;border-bottom: 1px solid #cccccc;">
                    <div class="right-icon"><i class="fa fa-search" aria-hidden="true"></i></div>
                </div>
            </div>
        </form>



        <form class="form-horizontal form-horizontal-update col-xs-12 col-sm-6 col-md-6 col-xl-4 col-lg-4 form-height" role="form">
            <div class="form-group">
                <label class="col-xs-4 col-sm-4 col-md-4 col-xl-4 col-lg-4 control-label" style="padding: 0"><span class="red-validate">*</span>ASN状态</label>
                <div class="col-xs-8 col-sm-8 col-md-8 col-xl-8 col-lg-8" style="position: relative">
                    <input type="text" class="form-control" placeholder="" style="background-color: #F8F8F8;padding: 0;border: none;border-radius: 0;margin: 2px;border-bottom: 1px solid #cccccc;">
                    <div class="right-icon"><i class="fa fa-sort-down" aria-hidden="true"></i></div>
                </div>
            </div>
        </form>
        <form class="form-horizontal form-horizontal-update col-xs-12 col-sm-6 col-md-6 col-xl-4 col-lg-4 form-height" role="form">
            <div class="form-group">
                <label class="col-xs-4 col-sm-4 col-md-4 col-xl-4 col-lg-4 control-label" style="padding: 0"><span class="red-validate">*</span>码头</label>
                <div class="col-xs-8 col-sm-8 col-md-8 col-xl-8 col-lg-8" style="position: relative">
                    <input type="text" class="form-control" placeholder="" style="background-color: #F8F8F8;padding: 0;border: none;border-radius: 0;margin: 2px;border-bottom: 1px solid #cccccc;">
                    <div class="right-icon"><i class="fa fa-search" aria-hidden="true"></i></div>
                </div>
            </div>
        </form>
        <form class="form-horizontal form-horizontal-update col-xs-12 col-sm-6 col-md-6 col-xl-4 col-lg-4 form-height" role="form">
            <div class="form-group">
                <label class="col-xs-4 col-sm-4 col-md-4 col-xl-4 col-lg-4 control-label" style="padding: 0"><span class="red-validate">*</span>库存</label>
                <div class="col-xs-8 col-sm-8 col-md-8 col-xl-8 col-lg-8" style="position: relative">
                    <input type="text" class="form-control" placeholder="" style="background-color: #F8F8F8;padding: 0;border: none;border-radius: 0;margin: 2px;border-bottom: 1px solid #cccccc;">
                    <div class="right-icon"><i class="fa fa-sort-down" aria-hidden="true"></i></div>
                </div>
            </div>
        </form>



        <form class="form-horizontal form-horizontal-update col-xs-12 col-sm-6 col-md-6 col-xl-4 col-lg-4 form-height" role="form">
            <div class="form-group">
                <label class="col-xs-4 col-sm-4 col-md-4 col-xl-4 col-lg-4 control-label" style="padding: 0"><span class="red-validate">*</span>自定义1</label>
                <div class="col-xs-8 col-sm-8 col-md-8 col-xl-8 col-lg-8">
                    <input type="text" class="form-control"  style="background-color: #F8F8F8;padding: 0;border: none;border-radius: 0;margin: 2px;border-bottom: 1px solid #cccccc;">
                </div>
            </div>
        </form>
        <form class="form-horizontal form-horizontal-update col-xs-12 col-sm-6 col-md-6 col-xl-4 col-lg-4 form-height" role="form">
            <div class="form-group">
                <label class="col-xs-4 col-sm-4 col-md-4 col-xl-4 col-lg-4 control-label" style="padding: 0"><span class="red-validate">*</span>自定义2</label>
                <div class="col-xs-8 col-sm-8 col-md-8 col-xl-8 col-lg-8">
                    <input type="text" class="form-control"  style="background-color: #F8F8F8;padding: 0;border: none;border-radius: 0;margin: 2px;border-bottom: 1px solid #cccccc;">
                </div>
            </div>
        </form>
        <form class="form-horizontal form-horizontal-update col-xs-12 col-sm-6 col-md-6 col-xl-4 col-lg-4 form-height" role="form">
            <div class="form-group">
                <label class="col-xs-4 col-sm-4 col-md-4 col-xl-4 col-lg-4 control-label" style="padding: 0"><span class="red-validate">*</span>自定义3</label>
                <div class="col-xs-8 col-sm-8 col-md-8 col-xl-8 col-lg-8">
                    <input type="text" class="form-control"  style="background-color: #F8F8F8;padding: 0;border: none;border-radius: 0;margin: 2px;border-bottom: 1px solid #cccccc;">
                </div>
            </div>
        </form>

    </div>
    <div class="row edit-order-content">
        <form class="form-horizontal col-xs-12 col-sm-12 col-md-12 col-xl-12 col-lg-12" role="form" style="margin-bottom: 0 !important;">
            <div class="form-group" class="mt-992-margin mt-1200-margin">
                <label class="col-xs-4 col-sm-2 col-md-2 col-xl-1 col-lg-1 control-label " style="text-align:right;padding-right:0px;"><span class="red-validate">*</span>备注</label>
                <div class="col-xs-8 col-sm-10 col-md-10 col-xl-11 col-lg-11">
                    <input type="text" class="form-control"  style="background-color: #F8F8F8;padding: 0;border: none;border-radius: 0;margin: 2px;border-bottom: 1px solid #cccccc;">
                </div>
            </div>
        </form>
        <form class="form-horizontal form-horizontal-update col-xs-6 col-sm-6 col-md-3 col-xl-3 col-lg-3 form-height" role="form">
            <div class="form-group">
                <label class="col-xs-5 col-sm-5 col-md-5 col-xl-5 col-lg-5 control-label" style="padding: 0;text-align: right">总金额</label>
                <div class="col-xs-7 col-sm-7 col-md-7 col-xl-7 col-lg-7">
                    <input readonly type="text" class="form-control" placeholder="￥0.00" style="background-color: #F8F8F8;padding: 0;border: none;border-radius: 0;margin: 2px;">
                </div>
            </div>
        </form>
        <form class="form-horizontal form-horizontal-update col-xs-6 col-sm-6 col-md-3 col-xl-3 col-lg-3 form-height" role="form">
            <div class="form-group">
                <label class="col-xs-5 col-sm-5 col-md-5 col-xl-5 col-lg-5 control-label" style="padding: 0;text-align: right">总体积</label>
                <div class="col-xs-7 col-sm-7 col-md-7 col-xl-7 col-lg-7">
                    <input readonly type="text" class="form-control" placeholder="￥0.00" style="background-color: #F8F8F8;padding: 0;border: none;border-radius: 0;margin: 2px;">
                </div>
            </div>
        </form>
        <form class="form-horizontal form-horizontal-update col-xs-6 col-sm-6 col-md-3 col-xl-3 col-lg-3 form-height" role="form">
            <div class="form-group">
                <label class="col-xs-5 col-sm-5 col-md-5 col-xl-5 col-lg-5 control-label" style="padding: 0;text-align: right">总毛重</label>
                <div class="col-xs-7 col-sm-7 col-md-7 col-xl-7 col-lg-7">
                    <input readonly type="text" class="form-control" placeholder="￥0.00" style="background-color: #F8F8F8;padding: 0;border: none;border-radius: 0;margin: 2px;">
                </div>
            </div>
        </form>
        <form class="form-horizontal form-horizontal-update col-xs-6 col-sm-6 col-md-3 col-xl-3 col-lg-3 form-height" role="form">
            <div class="form-group">
                <label class="col-xs-5 col-sm-5 col-md-5 col-xl-5 col-lg-5 control-label" style="padding: 0;text-align: right">总净重</label>
                <div class="col-xs-7 col-sm-7 col-md-7 col-xl-7 col-lg-7">
                    <input readonly type="text" class="form-control" placeholder="￥0.00" style="background-color: #F8F8F8;padding: 0;border: none;border-radius: 0;margin: 2px;">
                </div>
            </div>
        </form>
    </div>
    <div class="row edit-order-agGrid-setting">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-8"></div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-4">
            <button routerLink="/#" class="button_setting"><i class="fa fa-wrench" aria-hidden="true"></i></button>
        </div>

    </div>
    <!--<div class="row edit-order-content" style="background-color: #1de9b6">-->
    <!--<div style="float: right">111</div>-->
    <!--<button routerLink="/#" class="button_setting"><i class="fa fa-wrench" aria-hidden="true"></i></button>-->
    <!--</div>-->
    <ag-grid-ng2 #agGrid style="width:100%;height:auto;padding:10px;" class="ag-fresh"
                 [gridOptions]="gridOptions"
                 [rowData]="rowData"
                 rowSelection="multiple"
                 enableSorting
                 enableFilter
                 suppressRowClickSelection
                 (selectionChanged)="onSelectionChanged($event)"
                 (cellValueChanged)="onCellValueChanged($event)"
                 [localeText]="localeText"
                 rowHeight="30"
                 headerHeight="30">
    </ag-grid-ng2>
</div>